#!/usr/bin/env bash

export EDITOR='nvim';

export NODE_REPL_HISTORY=~/.node_history;
export NODE_REPL_HISTORY_SIZE='32768';
export NODE_REPL_MODE='sloppy';

export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

export PYTHONIOENCODING='UTF-8';

